{
  "parserOptions": {
    "ecmaVersion": 5,
    "impliedStrict": true
  },
  "env": {
    "node": true,
    "jasmine": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "camelcase": "error",
    "max-statements": ["error", 40],
    "max-len": ["error", 100],
    "quotes": ["error", "single"],
    "space-infix-ops": "error"
  }
}